<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zhuangxiuqianActivity" />
        <activity android:name=".QingBao.zhuangxiuzhongActivity" />
        <activity android:name=".QingBao.shuidianliuchengActivity"/>
        <activity android:name=".QingBao.shuidiancailiao"/>
        <activity android:name=".QingBao.shuidianzhuyishixian"/>
        <activity android:name=".QingBao.shuidianActivity" />
        <activity android:name=".QingBao.nimuActivity" />
        <activity android:name=".QingBao.tumuActivity" />
        <activity android:name=".QingBao.youqiActivity" />
        <activity android:name=".QingBao.chuyuActivity" />
        <activity android:name=".QingBao.dengjuActivity" />
        <activity android:name=".QingBao.jiajuActivity" />
        <activity android:name=".WoDe.UserActivity" />
        <activity android:name=".WoDe.LoginActivity" />
        <activity android:name=".WoDe.RegisterActivity" />
        <activity android:name=".FitmentMaterial.FitmentMaterialActivity" />
        <activity android:name=".FitmentMaterial.FitmentAddActivity"></activity>
    </application>

</manifest>